@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: "IBM Plex Sans Arabic", serif;
  direction: rtl;
}

.wave-btn {
  position: relative;
  overflow: hidden;
}

.wave-btn::before {
  content: "";
  position: absolute;
  top: -80%;
  right: -150%;
  width: 30%;
  height: 300%;
  background: linear-gradient(to left,
      transparent 0%,
      rgba(255, 255, 255, 0.4) 50%,
      transparent 100%);
  transform: rotate(45deg);
  animation: waveMove 1.8s linear infinite;
}

@keyframes waveMove {
  0% {
    right: -150%;
  }

  100% {
    right: 150%;
  }
}